*{
    text-decoration: none;
}
.icon{
    position: absolute; 
	left: 50%; 
	top: 40%; 
	transform: translate(-50%,-50%); 
}
.name-1{
    text-align: center;
    color: #9b9696;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    margin-top: 325px;
}
.hello-lang{
    text-align: center;
    color: white;
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: center;
}
.nav1{
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.10rem;
    transition: all .7s ease-out 0s;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    width: 70px;
}
.nav1:hover{
    color: white;
    background-color: #888;
}
.nav2{
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.10rem;
    transition: all .7s ease-out 0s;
    margin-top: 60px;
    margin-right: 20px;
    height: 50px;
    width: 70px;
}
.nav2:hover{
    color: white;
    background-color: #888;
}
.nav3{
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.10rem;
    transition: all .7s ease-out 0s;
    margin-top: 60px;
    margin-right: 20px;
    height: 50px;
    width: 80px;
}
.nav3:hover{
    color: white;
    background-color: #888;
}
.footer-txt{
    color: white;
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-weight: bold;
}
.proj-txt{
    color: white;
    text-align: center;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.proj-txt-2{
    color: white;
    text-align: center;
    margin-top: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
}
.about-txt{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 70px;
}
.main-about-txt{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
}
.main-about-txt2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.coming-soon{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.name11{
    color: rgb(64, 64, 240);
    cursor: pointer;
    text-decoration: underline;
}
.name11:hover{
    color: red;
}
.discord_connect{
    border: none;
    background-color: #5865f2;
    border-radius: 4px;
    margin-left: 500px;
    height: 25px;
    width: 125px;
    cursor: pointer;
}
.soooontm{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
}